exportClasses("Document", "DocumentPage")
exportClasses("BoundingBox", "TextBoundingBox", "ShapeBoundingBox")

export(getNumPages, getTextBBox, getPages)

exportMethods(getNumPages)



export(margins)
exportMethods(margins)

export(left, right, top, bottom, width, height)
exportMethods(left, right, top, bottom)


export(findLineBreaks)


export(getTextByCols)
exportMethods(getTextByCols)

exportMethods("plot")


export(getTextColors)
exportMethods(getTextColors)

export(getTextBBox, getShapesBBox)
S3method(getTextBBox, Document)
S3method(getShapesBBox, Document)

S3method(dim, Document)
export(getPageHeight, getPageWidth)
S3method(getPageHeight, DocumentPage)
S3method(getPageWidth, DocumentPage)

if(FALSE) {
S3method(margins, DocumentPage)
S3method(margins, Document)
S3method(margins, TextBoundingBox)
}

