exportClasses("Document", "DocumentPage")
exportClasses("BoundingBox", "TextBoundingBox", "ShapeBoundingBox")

export(getNumPages, getTextBBox, getPages)

exportMethods(getNumPages)



export(margins)
exportMethods(margins)

export(left, right, top, bottom, width, height)
exportMethods(left, right, top, bottom)


export(findLineBreaks, getTextLines)

export(getTextByCols)
exportMethods(getTextByCols)
export(getColPositions)
S3method(getColPositions, Document)
S3method(getColPositions, DocumentPage)

exportMethods("plot")
S3method(plot, MultiPageBoundingBox)

export(getTextColors)
exportMethods(getTextColors)

export(getTextBBox, getShapesBBox)
S3method(getTextBBox, Document)
S3method(getShapesBBox, Document)

S3method(dim, Document)
export(getPageHeight, getPageWidth)
S3method(getPageHeight, DocumentPage)
S3method(getPageWidth, DocumentPage)
S3method(getPageWidth, Document)
S3method(getPageHeight, Document)

if(FALSE) {
S3method(margins, DocumentPage)
S3method(margins, Document)
S3method(margins, TextBoundingBox)
}



#export(lapply, sapply)
exportMethods(lapply)
exportMethods(sapply)
